//
// List of posts
//
.posts-list {
  $post-list-whitespace: 2em;

  padding-top: $post-list-whitespace;

  li {
    padding-top: $post-list-whitespace;
    padding-bottom: $post-list-whitespace;

    &:last-child {
      margin-bottom: 0;
    }
  }
  li:nth-child(6n-5) a:hover::before {
    background: $brand-red;
  }
  li:nth-child(6n-4) a:hover::before {
    background: $brand-purple;
  }
  li:nth-child(6n-3) a:hover::before {
    background: $brand-pink;
  }
  li:nth-child(6n-2) a:hover::before {
    background: $brand-orange;
  }
  li:nth-child(6n-1) a:hover::before {
    background: $brand-yellow;
  }
  li:nth-child(6n-0) a:hover::before {
    background: $brand-green;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: $brand-dark;

    &::before {
      content: "";
      position: absolute;
      top: -$post-list-whitespace;
      left: -1000em;
      bottom: -$post-list-whitespace;
      right: -1000em;
    }

    > * {
      // Give postition so content is raised above the ::before
      position: relative;
    }
  }
  a:hover * {
    color: white;
  }

  h2 {
    margin: 0;
    color: $brand-primary;
    line-height: 1;
  }
  p {
    margin: 1em 0 0 0;
  }
  .meta {
    opacity: 0.5;
  }
}
.prose .posts-list {
  list-style: none;
  padding-left: 0;
}

//
// Actual post itself
//
.post {
  img {
    max-width: 100%;
  }
}
.written-by {
  margin: 4em 0;
  text-align: center;
  font-style: italic;

  img {
    border-radius: 50%;
    height: $content-whitespace; 
    margin-bottom: $content-whitespace * 0.25; 
  }
  
  p {
      opacity: 0.5;
  }

}

.written-by + p {
    font-size: $larger-font;
}

//
// Related posts
//
.related-posts {
  background-color: $brand-red;
  color: white;
  padding: $content-whitespace 0;

  ul {
    display: table;
    width: 100%;

    h2 {
      font-size: $h4-size;
      color: inherit;
    }
  }
  li {
    background-color: white;
    display: table-cell;
    width: 50%;

    &:hover {
      transform: scale(1.025);
    }
  }
  li:first-child {
    border-right: solid $brand-red 1em;
  }
  li:last-child {
    border-left: solid $brand-red 1em;
  }
  a {
    vertical-align: middle;
    display: block;
    padding: 1.5em;
    transition: transform 0.1s $easing;
    text-decoration: none;
  }
  p {
    margin-top: 1em;
  }
  .meta {
    font-style: italic;
    opacity: 0.5;
  }
}
