//
// List of posts
//
.posts-list {
  $post-list-whitespace: 2em;

  padding-top: $post-list-whitespace;

  li {
    padding-top: $post-list-whitespace;
    padding-bottom: $post-list-whitespace;

    &:last-child {
      margin-bottom: 0;
    }
  }
  li:nth-child(6n-5) a:hover::before {
    background: $brand-red;
  }
  li:nth-child(6n-4) a:hover::before {
    background: $brand-purple;
  }
  li:nth-child(6n-3) a:hover::before {
    background: $brand-pink;
  }
  li:nth-child(6n-2) a:hover::before {
    background: $brand-orange;
  }
  li:nth-child(6n-1) a:hover::before {
    background: $brand-yellow;
  }
  li:nth-child(6n-0) a:hover::before {
    background: $brand-green;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: $brand-dark;

    &::before {
      content: "";
      position: absolute;
      top: -$post-list-whitespace;
      left: -1000em;
      bottom: -$post-list-whitespace;
      right: -1000em;
    }

    > * {
      // Give postition so content is raised above the ::before
      position: relative;
    }
  }
  a:hover * {
    color: white;
  }

  h2 {
    margin: 0;
    color: $brand-primary;
    line-height: 1;
  }
  p {
    margin: 1em 0 0 0;
  }
  .meta {
    opacity: 0.5;
  }
}
.prose .posts-list {
  list-style: none;
}

//
// Actual post itself
//
.post {
  margin-bottom: 4em;

  img {
    max-width: 100%;
  }
}
.written-by {
  height: 3em;
  line-height: 3em;
  margin: 4em 0;

  span {
    opacity: 0.5;
  }

  img {
    border-radius: 50%;
    height: 100%;
    float: left;
    margin-right: 1em;
  }
  font-style: italic;
}
.written-by + p {
  font-size: $larger-font;
}

//
// Related posts
//
.related-posts {
  background-color: $brand-red;
  color: white;
  padding: $content-whitespace 0;

  h2 {
    color: inherit;
  }
  ul {
    display: table;

    h2 {
      font-size: $h4-size;
    }
  }
  li {
    border: solid $brand-red 1em;
    display: table-cell;
    height: 20em;
    vertical-align: middle;
    width: 50%;
  }
  a {
    display: block;
    background-color: white;
    padding: 1.5em;
    transition: transform 0.1s $easing;

    text-decoration: none;

    &:hover {
      transform: scale(1.05);
    }
  }
  p {
    margin-top: 1em;
  }
  .meta {
    font-style: italic;
    opacity: 0.5;
  }
}
