@charset "utf-8";


// Colors
$brand-primary:       #6692a6;
$brand-primary-dark:  #2b546d;
$brand-dark:          #141d21; // E.g. footer
$light-gray:          #f0f0f0;
$dark-gray:           #969696;

$brand-purple:        #7761a7;
$brand-pink:          #a76191;
$brand-orange:        #a77761;
$brand-yellow:        #91a761;
$brand-green:         #61a777;

// Animation
$shadow:       rgba($brand-dark, 0.75) 1px 1px 10px;
$easing:       cubic-bezier(0.55, 0, 0.1, 1);

// Typography
$heading-font:    "brandon-grotesque", Arial, Verdana, sans-serif;
$heading-weight:  100;

$body-font:       "merriweather", Georgia, Times, "Times New Roman", serif;
$bold:            700;
$normal:          300;
$line-height:     1.5;
$smaller-font:    0.707em;
$larger-font:     1.414em;

$h1-size:         3.998em;
$h2-size:         2.827em;
$h3-size:         1.999em;
$h4-size:         1.414em;

// Variables - layout
$header-height:           6em;
$header-height-small:     4em;
$page-max-width:          80em;
$page-side-padding:       8%;
$content-whitespace:      4em;
$hero-height:             20em;
$hero-height-image:       25em;
$prose-width:             40em;
$arrow-size:              40px;


//
// Base styles / reset
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//
// Typography + base styles
//
body {
  font-family: $body-font;
  line-height: $line-height;
  font-size: 110%;
  // color: $brand-dark;
  color: #666;
  min-width: 320px;
  font-weight: $normal;
}
.prose p,
.prose ul {
  // We only want top/bottom margin in prose
  margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
  line-height: 1.2;

  font-family: $heading-font;
  font-weight: $heading-weight;
  // color: $brand-primary;
  text-transform: uppercase;

  .prose & {
    // We only want top/bottom margin in prose
    margin: 0.75em 0 0.5em;
  }
}
h1 {
  font-size: $h1-size;
  margin-top: 0;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}
small {
  font-size: $smaller-font;
}
a {
  color: $brand-primary;

  &:hover, &:focus, &:visited {
    color: $brand-primary-dark;
  }
}
ul {
  list-style: none;
}


//
// Hero
//
.hero {
  position: relative;
  width: 100%;
  height: $hero-height; // Will act as min-height because of dispay:table
  display: table;
  background-color: $brand-primary;
  background-size: cover;
  background-position: center;

  font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;

  color: white;

  .button {
    text-shadow: none;
  }
}
// We have a background image, so don't set background color
.hero-home,
.page-not-found,
.hero[style] {
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height;
  }
}
.hero-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 $page-side-padding;
}
.hero-big {
  font-size: 2em;
}

.hero-home {
  border-bottom: 1px solid rgba(245,245,247,0.984);
  color: $brand-primary;
  height: $hero-height * 1.5;

  img {
    max-height: ($hero-height * 0.5);
  }
  h2 {
    padding: 1em;
  }
}

//
// Reusable page elements
//
.column-content {
  max-width: $page-max-width;
  padding: 0 $page-side-padding;
  margin: 0 auto;
}
.prose {
  // Also see "Typography" elsewhere in this document
  max-width: $prose-width;
  margin-left: auto;
  margin-right: auto;

  font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;

  ul {
    list-style-type: disc;
  }
}

//
// Helper classes
//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.no-top {
  margin-top: 0 !important; // .no-top should trump all other margin declarations
}
.center-text {
  text-align: center;
}

@import "posts";
@import "syntax";
@import 'page-not-found';

//
// Media queries
//
@media screen and (max-width: 62em) {
  .column-content {
    max-width: $page-max-width;
    padding: 0 ($page-side-padding / 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 52em) {
  body {
    font-size: 100%;
  }
  .prose {
    padding-left: ($page-side-padding / 2);
    padding-right: ($page-side-padding / 2);
  }
  .related-posts {
    ul {
      display: initial;
    }
    li {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
