@charset "utf-8";


// Colors

// TODO: Decide upon the site colors and refactor
$brand-primary:       #ce0000;
$brand-dark:          darken($brand-primary, 10%);
$light-gray:          #f0f0f0;
$dark-gray:           #969696;

$brand-red:           $brand-primary;
$brand-purple:        #6900ce;
$brand-pink:          #ce00cb;
$brand-orange:        #ce6700;
$brand-yellow:        #ccce00;
$brand-green:         #65ce00;
$brand-blue:          #0065ce;

// Animation
$shadow:       rgba($brand-dark, 0.75) 1px 1px 10px;
$easing:       cubic-bezier(0.55, 0, 0.1, 1);

// Typography
$heading-font:    "brandon-grotesque", Arial, Verdana, sans-serif;
$heading-weight:  100;

$body-font:       "merriweather", Georgia, Times, "Times New Roman", serif;
$bold:            700;
$normal:          300;
$line-height:     1.5;
$smaller-font:    0.707em;
$larger-font:     1.414em;

$h1-size:         3.998em;
$h2-size:         2.827em;
$h3-size:         1.999em;
$h4-size:         1.414em;

// Variables - layout
$header-height:           6em;
$header-height-small:     4em;
$page-max-width:          80em;
$page-side-padding:       8%;
$content-whitespace:      4em;
$hero-height:             20em;
$hero-height-image:       25em;
$prose-width:             50em;

//
// Base styles / reset
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//
// Typography + base styles
//
body {
  font-family: $body-font;
  line-height: $line-height;
  font-size: 110%;
  color: #666;
  min-width: 320px;
  font-weight: $normal;
}
.prose p,
.prose ul {
  // We only want top/bottom margin in prose
  margin-bottom: 1.3em;
}
h1, h2, h3, h4 {
  line-height: 1.2;

  font-family: $heading-font;
  font-weight: $heading-weight;
  // color: $brand-primary;
  text-transform: uppercase;

  .prose & {
    // We only want top/bottom margin in prose
    margin: 0.75em 0 0.5em;
  }
}
h1 {
  font-size: $h1-size;
  margin-top: 0;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}
small {
  font-size: $smaller-font;
}
a {
  color: $brand-primary;

  &:hover, &:focus, &:visited {
    color: $brand-dark;
  }
}
ul {
  list-style: none;
}

//
// Main content
//
main {
  display: block; // Correct `block` display not defined for `main` in ancient browsers
  overflow: hidden; // Avoid children's margins pushing outside the element
  position: relative;
}

//
// Hero
//
.hero {
  position: relative;
  width: 100%;
  height: $hero-height; // Will act as min-height because of dispay:table
  display: table;
  background-color: $brand-red;
  background-size: cover;
  background-position: center;

  font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;

  color: white;

  .button {
    text-shadow: none;
  }
}
// We have a background image, so don't set background color
.hero-home,
.page-not-found,
.hero[style] {
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height;
  }
}
.hero-inner {
  $logo-size: 3em;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding: 0;

  h1 {
    display: inline-block;
    position: relative;
    padding-left: $logo-size;
    line-height: 1;
    margin: 0.5em 3%;
    max-width: 20em;
  }

  .hero-logo {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    height: $logo-size;
    width: $logo-size;
    margin-top: -(0.5 * $logo-size);
    padding: (0.2 * $logo-size);

    img {
      max-width: 100%;
    }
  }
}
.hero-big {
  font-size: 2em;
}
.hero-home {
  border-bottom: 2px solid rgba(245,245,247,0.984);
  color: $brand-red;
  height: $hero-height * 1.5;

  img {
    max-height: ($hero-height * 0.5);
  }
  h2 {
    font-weight: 700;
    padding: 0.3em;
    text-transform: initial;
  }
  .hero-inner {
    vertical-align: bottom;
  }
}


//
// Reusable page elements
//
.column-content {
  max-width: $page-max-width;
  padding: 0 $page-side-padding;
  margin: 0 auto;
}
.prose {
  // Also see "Typography" elsewhere in this document
  max-width: $prose-width;
  margin-left: auto;
  margin-right: auto;

  font-feature-settings: 'kern' 1,'onum' 1,'liga' 1;

  ul {
    list-style-type: disc;
  }
  ul, ol {
    padding-left: 2.5em;
  }
}

//
// Helper classes
//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.no-top {
  margin-top: 0 !important; // .no-top should trump all other margin declarations
}
.center-text {
  text-align: center;
}

@import "posts";
@import "syntax";
@import 'page-not-found';
@import './modules/author-testimonial';

//
// Media queries
//
@media screen and (max-width: 62em) {
  .column-content {
    max-width: $page-max-width;
    padding: 0 ($page-side-padding / 2);
    margin: 0 auto;
  }
  .prose {
    padding-left: ($page-side-padding / 2);
    padding-right: ($page-side-padding / 2);
  }
}

@media screen and (max-width: 52em) {
  $heading-scale: 0.75;

  body {
    font-size: 100%;
  }
  .hero-home {
    height: auto;
    padding-top: 1em;

    .hero-inner {
      text-align: center;
    }
  }
  .related-posts {
    ul {
      display: initial;
    }
    li:first-child,
    li:last-child {
      border: none;
      display: block;
      height: 100%;
      width: 100%;
      margin-bottom: 1em;
    }
  }
  h1 {
    font-size: ($h1-size * $heading-scale);
  }
  h2 {
    font-size: ($h2-size * $heading-scale);
  }
  h3 {
    font-size: ($h3-size * $heading-scale);
  }
  h4 {
    font-size: ($h4-size * $heading-scale);
  }
}

@media screen and (max-width: 36em) {
  .hero-inner {
    h1 {
      padding: 0;
    }
    .hero-logo {
      display: block;
      position: static;
      margin: 0 auto 0.5em auto;
    }
  }
}
