<div style="display:none">
    <script type="text/javascript">
        function loadRemarketing() {
            /* <![CDATA[ */
            var google_conversion_id = <%= google_conversion_id %>;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        }
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
</div>