link href="#{image_path('images/favicons/favicon-32x32.png')}" rel="icon" sizes="32x32" /
link href="#{image_path('images/favicons/favicon-57x57.png')}" rel="icon" sizes="57x57" /
link href="#{image_path('images/favicons/favicon-96x96.png')}" rel="icon" sizes="96x96" /
link href="#{image_path('images/favicons/favicon-128x128.png')}" rel="icon" sizes="128x128" /
link href="#{image_path('images/favicons/favicon-192x192.png')}" rel="icon" sizes="192x192" /
link href="#{image_path('images/favicons/favicon-228x228.png')}" rel="icon" sizes="228x228" /

link href="#{image_path('images/favicons/apple-touch-icon-120x120.png')}" rel="apple-touch-icon" sizes="120x120" /
link href="#{image_path('images/favicons/apple-touch-icon-152x152.png')}" rel="apple-touch-icon" sizes="152x152" /
link href="#{image_path('images/favicons/apple-touch-icon-180x180.png')}" rel="apple-touch-icon" sizes="180x180" /

link href="#{image_path('images/favicons/android-196x196.png')}" rel="shortcut icon" sizes="196x196" /

meta name="msapplication-TileColor" content="#D00B00"
meta name="msapplication-TileImage" content="#{image_path('images/favicons/msapplication-144x144.png')}"

