meta[charset="utf-8"]
meta[content="width=device-width,initial-scale=1" name="viewport"]
meta[content=(current_page.data.description || yield_content(:description) || data.config.description) name="description"]
title= [data.config.site_title, current_page.data.title, yield_content(:title)].compact.join(' - ')
= stylesheet_link_tag :site
/ TODO: Create a HTML5 link tag to the stylesheet, instead of the Ruby helper
/ link rel="stylesheet" href= :site
|<script src="//use.typekit.net/wer4zsm.js"></script>
|<script>try{Typekit.load({ async: true });}catch(e){}</script>
