- if locals == "Post"
  script type="application/ld+json"
    | {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "#{data.config.site_url}"
      },
      "headline": "#{page_title}",
      "image":
        "#{news_article_schema_image}"
       ],
      "datePublished": "#{post.created_on.to_time.iso8601}",
      "dateModified": "#{DateTime.parse(post._meta.updated_at).to_time.iso8601}",
      "author": {
        "@type": "Person",
        "name": "#{post.authors.first.name}"
      },
       "publisher": {
        "@type": "Organization",
        "name": "#{data.config.author}",
        "logo": {
          "@type": "ImageObject",
          "url": "#{data.config.site_url + '/images/kabisa-logo.png'}"
        }
      },
      "description": "#{page_description}"
      }
