meta[name='twitter:card' content=page_twitter_card_type]
meta[name='twitter:site' content=data.config.twitter_handle]
meta[name='twitter:title' content=page_title]
meta[name='twitter:description' content=page_description]
meta[name='twitter:creator' content=data.config.twitter_handle]

- if twitter_card_social_image
  meta[name='twitter:image' content=twitter_card_social_image]
