.author-testimonial {
  background: scale-color($light-gray, $lightness: 25%);
  margin-top: 3em;
  padding: 1.5em;
  overflow: auto;

  h4 {
    text-transform: uppercase;
    margin-top: 0em;
  }

  p {
    font-style: italic;
    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
    border-radius: 50%;
  }

  .image {
    margin-top: .5em;
    width: 7em;
    float: left;
  }

  .details {
    padding-left: 8.5em;
  }

  @media screen and (max-width: 36em) {
    .image {
      float: none;
      margin: 0 auto 1.5em;
      width: 6em;
    }

    .details {
      padding-left: 0;
    }
  }
}

.profile-link {
  text-decoration: none;
}
