//
// Buttons
//
.button {
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 100%;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 0.25em;
  border: 0;
  outline: none;
  background-color: $brand-primary;
  color: white;
  cursor: pointer;
}
