nav {
  max-width: 50em;
  margin: 0 auto 1.2em auto;

  ul {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
  }

  li {
    flex: 1;
    padding: .75em 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    white-space: nowrap;
  }

  .active {
    border-bottom: .1em solid $brand-primary;
  }
}
