nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;

  ul {
    align-self: flex-end;
    display: flex;
    margin:0 auto;
    width: 25vw;
  }

  li {
    flex: 1;
    padding: .5em .75em;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .active {
    border-bottom: .1em solid $brand-primary;
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      width: 100vw;
    }
  }
}
